[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-migrate
name: ica-migrate
description: Mirgrate user profiles from one machine to another
advice: The user to be migrated should have a share location on \\server.
version: 1.2
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: move_username
multivalue: False
editable: True
description: Specifies a new user name for the specified user. (specify change as "OldDomain\OldUserName:[NewDomain\]NewUserName", set to "none" to turn off)
values: ["none"]
default: ["none"]

[ProductProperty]
type: unicode
name: move_domain
multivalue: False
editable: True
description: Specifies a new domain for the user. Use this option to change the domain for users on a computer or to migrate a local user to a domain account. (specify change as "OldDomain:NewDomain", set to "none" to turn off)
values: ["none"]
default: ["none"]

[ProductProperty]
type: bool
name: overwrite_store
description: Overwrite any existing data in the migration store or Config.xml file. (adds the /o option)
default: False

[ProductProperty]
type: unicode
name: password
multivalue: False
editable: True
description: password of the account to be migrated
values: ["student"]
default: ["student"]

[ProductProperty]
type: unicode
name: username
multivalue: False
editable: True
description: username of the account to be migrated
values: ["student"]
default: ["student"]

[ProductProperty]
type: unicode
name: sharepw
multivalue: False
editable: True
description: password for accessing the migration store share
values: ["student"]
default: ["student"]

[ProductProperty]
type: unicode
name: shareun
multivalue: False
editable: True
description: Username to access the migration store share
values: ["student"]
default: ["student"]

[ProductProperty]
type: unicode
name: mode
multivalue: False
editable: False
description: Task; ==preview -> Create migration preview file; ==genconfig -> Generate and save configuration file; ==save -> Save migration data to server; ==restore -> Restore migrated data on new machine; ==delete -> delete the migration data (from server)
values: ["delete", "genconfig", "preview", "restore", "save"]
default: ["preview"]

[ProductProperty]
type: unicode
name: sharename
multivalue: False
editable: True
description: network share used to store migration data
values: ["\\\\server\\dropbox"]
default: []

[ProductProperty]
type: unicode
name: debug
multivalue: False
editable: False
description: turn on debug of script
values: ["false", "true"]
default: ["false"]

[Changelog]
ica-migrate (1.0-1) stable; urgency=low

Project created with opsi Package Builder 8.2.2

 -- John Kuras <jkuras@islandchristianacademy.com>  Fri, 28 Sep 2018 09:05:26 +0000
